/* --------------------skills section -------------------------------------------------------------------------------------------------------------------------*/


.separator {
    background-color:#83e984;
    color: #83e984;
}

.skills {
    background: rgb(255, 255, 255);
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 69px 40px 154px 225px;
}

.skills_content {
    z-index: 1;
    width: 100%;
}

.skills_content h1 {
    padding-top: 22px;
    padding-bottom: 45px;
}

.skills_content h2 {
    white-space: nowrap;
}

.skills_background {
    display: flex;
    left: 0;
    width: 48%;
    height: 70px;
    top: 891px;
    z-index: 0;
    background-color: #83e984;
    border-radius: 0 40px 40px 0;
    position: absolute;
}

.skills_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    color: #83e984;
    fill: currentColor;
}

.skills_icons img {
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: 1.5rem;
}

.icons_background {
    display: flex;
    right: 0;
    width: 80%;
    height: 230px;
    top: 1127px;
    z-index: 0;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
            animation: AnimateBG 10s ease infinite;
    border-radius: 60px 0 0 60px;
    position: absolute;
}

.skills_icons_container {
    text-align: center;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grow-icons { 
    transition: all .1s ease-in-out; }
    
.grow-icons:hover { 
    transform: scale(2); 
}

#illustrator {
    width: 60px;
    height: 60px;
    top: 0;
}

.filter-green {
    filter: invert(90%) sepia(90%) saturate(425%) hue-rotate(50deg) brightness(94%) contrast(93%);
    justify-content: center;
}



@media screen and (max-width: 1250px){
    .skills_background{
        width: 51%;
    }
}
@media screen and (max-width: 1150px){
    .skills_background{
        width: 55%;
    }
}

@media screen and (max-width: 1160px){
    .skills_background{
        width: 60%;
    }
}

@media screen and (max-width: 970px){
    .skills_content h2 {
        font-size: 2.5rem;
        padding: 1px 1px 1px 100px;
    }

    .skills_content h1 {
        font-size: 2rem;
        padding-left: 100px;
    }

    .skills_background {
        top: 885px;
        width: 55%
    }

    .skills_container {
        padding: 169px 40px 154px 79px;
    }

    .filter-green{
        margin-left: 8rem;
        margin-top: 2.5rem;
    }

}

@media screen and (max-width: 960px) {
    .skills_icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        color: #83e984;
        fill: currentColor;
    }
    
    .skills_icons img {
        z-index: 1;
        width: 40px;
        height: 40px;
        margin: 1rem;
    }
}

@media screen and (max-width:775px) {
    .filter-green{
        padding: 0px 0px 0px 0px;
        margin: 45px 0px 0px 140px;
    }
    
    .icons_background {
        height: 298px;
    }
}

@media screen and (max-width:745px) {
    .filter-green{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 140px;
    }

    .skills_icons img {
        z-index: 1;
        width: 40px;
        height: 40px;
        margin: 1rem;
    }
}

@media screen and (max-width:660px) {
    .skills_container {
        padding: 0px 0px 0px 0px;
    }

    .skills_content h2 {
        padding: 0px 0px 0px 0px;
    }
}
