#about {
    display: flex;
    justify-content: center;
    position: relative;
    height: fit-content;
}

.about__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.about__container h1 {
    width: 100%;
    text-align: left;
}

.title__container {
    position: relative;
}

.shadow {
    position: absolute;
    z-index: -1;
    top: 15%;
    left: -2%;
}

.about {
    color: #BB403A;
}

.me {
    color: #3C529B;
}

.about__sections--container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.about__section {
    display: block;
    border: 4px solid white;
    margin: 10px
}

.about__section--left {
    display: block;
    float: left;
    width: 30%;
    height: fit-content;
    z-index: 1;
    margin-right: 30px;
    border: none;
}

.about__section--left img {
    width: 100%;
    height: auto;
    padding-top: 25px;
    background-color: #1d1d1d;
    bottom: 0;
}

.about__section--right {
    width: 80%;
    margin: 80px;
}

.about__section--right a {
    color: #3C529B;
}

.about__section--right p span {
    color: #BB403A;
}

.about__section--right p {
    margin: 30px;
}
