.hero__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero__box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    inset: 20% 10% 10% 10%;
    z-index: -1;
}

.name__first {
    position: absolute;
    top: 7%;
    left: 5%;
    bottom: sticky;
}

.name__first__shadow {
    position: absolute;
    top: 8.5%;
    left: 4%;
    bottom: sticky;
    color: #BB403A;
    z-index: -1;
}

.name__last {
    position: absolute;
    bottom: 0;
    right: 10%;
    /* text-shadow: -10px 10px #3C529B; */
}

.name__last__shadow {
    position: absolute;
    right: 11%;
    bottom: -2%;
    color: #3C529B;
    z-index: -1;
}


.hero__box p {
    text-align: left;
    margin: 0px 30% 0px 30%;
    width: 100%;
    font-size: larger;
}

.hero__box span::before{
    content: '';
    opacity: 0;
    animation: text-change infinite 14s;
}

@keyframes text-change {
    0% {content: ' Computer Science major.'; opacity: 0;}
    10% {content: " Computer Science major."; opacity: 1;}
    20% {content: " Computer Science major."; opacity: 0;}

    21% {content: ' Product Design minor.'; opacity: 0; }
    30% {content: ' Product Design minor.'; opacity: 1; }
    40% {content: ' Product Design minor.'; opacity: 0; }

    41% {content: ' software consultant.'; opacity: 0; }
    50% {content: ' software consultant.'; opacity: 1;}
    60% {content: ' software consultant.'; opacity: 0;}

    61% {content: ' web developer.'; opacity: 0; }
    70% {content: ' web developer.'; opacity: 1;}
    80% {content: ' web developer.'; opacity: 0;}

    81% {content: 'n artist.'; opacity: 0; }
    90% {content: 'n artist.'; opacity: 1;}
    100% {content: 'n artist.'; opacity: 0;}
}

